@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-slate-900;
    font-family: 'Open Sans', 'Merriweather Sans', sans-serif;
    font-size: 16px;
  }

  h1 {
    @apply font-bold text-4xl;
    font-family: 'Merriweather Sans', 'Open Sans', sans-serif;
  }
}

@layer components {
}

@import "./vendor/prims.css";